<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Add Company Profile</h3>
            <hr />
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <form role="form"
                      id="formCompanyCreate"
                      name="formCompanyCreate"
                      novalidate
                      ng-submit="formSubmit()">

                    <div class="form-group col-lg-12">
                        <input type="text" class="form-control " ng-class="{'complusoryClass':(companyDetailModel.Name=='' || companyDetailModel.Name==undefined)}" ng-model="companyDetailModel.Name" placeholder="Enter Company Name" ng-required="true">
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="text" class="form-control" ng-model="companyDetailModel.BusinessEmailAddress" placeholder="Enter Email Address">
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="text" class="form-control" ng-model="companyDetailModel.BusinessPhoneNumber" placeholder="Enter Phone">
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="text" class="form-control datepicer" ng-model="companyDetailModel.StartDate" placeholder="Enter Year Business Start">
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="text" class="form-control" ng-model="companyDetailModel.Abbreviation" placeholder="Enter Abbreviation">
                    </div>
                    <div class="form-group col-lg-12">
                        <textarea class="form-control" ng-model="companyDetailModel.Description" placeholder="Enter Description"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="text" class="form-control" ng-model="companyDetailModel.BusinessAddressLine1" ng-class="{'complusoryClass':(companyDetailModel.BusinessAddressLine1=='' || companyDetailModel.BusinessAddressLine1==undefined)}" placeholder="Enter Address" ng-required="true">
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" ng-model="companyDetailModel.BusinessAddressCity" placeholder="Enter City">
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" ng-model="companyDetailModel.BusinessAddressState" placeholder="Enter State">
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" ng-model="companyDetailModel.BusinessAddressZipCode" placeholder="Enter Zip">
                    </div>
                    <div class="form-group col-lg-12 text-center">
                        <input type="button" class="btn btn-orange" ng-click="addCompany()" ng-disabled="!formCompanyCreate.$valid" value="Submit Company Profile" />
                    </div>
                </form>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

    </div>
</div>

<!--<div id="post-job-wrapper" class="wrapper" style="padding-top: 0px;">

    <div class="pagewidth">
        <div style="margin-top:0;width: 75%;margin: 0 auto;">
            <div class="box tabdiv" style="margin-top:0;">
                <h1>ADD COMPANY PROFILE</h1>
                <form>
                    <input type="text" ng-model="companyDetailModel.Name" placeholder="COMPANY NAME" class="formhalf formfull">
                    <input type="text" id="date" ng-model="companyDetailModel.StartDate" placeholder="YEAR BUSINESS STARTED" class="formhalf formfull datepicer">
                    <input type="text" ng-model="companyDetailModel.Abbreviation" placeholder="ABBREVIATION" class="formhalf formfull">
                    <textarea ng-model="companyDetailModel.Description" placeholder="DESCRIPTION" class="formfull"></textarea>
                    <input type="text" ng-model="companyDetailModel.BusinessAddressLine1" placeholder="ADDRESS" class="formfull">
                    <input type="text" ng-model="companyDetailModel.BusinessAddressCity" placeholder="CITY" class="formfull formthird">
                    <input type="text" ng-model="companyDetailModel.BusinessAddressState" placeholder="STATE" class="formfull formthird">
                    <input type="text" ng-model="companyDetailModel.BusinessAddressZipCode" placeholder="ZIP" class="formfull formthird">
                    <input type="text" ng-model="companyDetailModel.BusinessEmailAddress" placeholder="EMAIL" class="formhalf formfull">
                    <input type="text" ng-model="companyDetailModel.BusinessPhoneNumber" placeholder="PHONE" class="formhalf formfull">

                    <br />
                    <button class="add1button" ng-click="addCompany()">SUBMIT COMPANY PROFILE</button>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</div>-->
